
    .logo{
        width: 100px;
        height: 90px;
    }
    .flogo{
        align-items: center;
width: 200px;
        height: 150px;
       margin-left: 450px;
    }
    .item img{
        width: 800px;
        height: 100px;
    }